@use "../config/" as *;

.see-bulb {
    padding: 100px $space;
    text-align: center;
    @extend %common-bg;

    h3 {
        margin-bottom: 0;
    }

    .head {
        margin-bottom: $space * 2;
    }

    .body {
        padding-inline: $space *2;

        @include mq(768px) {
            max-width: 900px;
            margin: auto;
        }
    }

    .bulb-text {
        position: absolute;
        bottom: 20px;
        width: 100%;
        left: 0;
        font-size: 30px;
    }

    .owl-prev,
    .owl-next {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%);
        background-color: $secondary !important;

        @include mq(768px) {
            left: -40px;
        }

        span {
            color: $primary;
        }
    }

    .owl-next {
        transform: translate(50%, -50%);

        right: 0;
        left: unset;

        @include mq(768px) {
            right: -40px;
        }
    }
}