@use "../config/" as *;

.news {
    padding: 100px $space;
    @extend %common-bg;

    h4 {
        font-size: 24px;
        margin-block: $space;
    }

    p {

        margin-block: $space;
    }

    a {
        display: block;
        width: max-content;
        text-decoration: none;
        background-color: transparent;
        border: 1px solid $white;
        font-weight: 700;
        margin-bottom: $space * 2;
    }

    @include mq(768px) {
        .body {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: $space * 2;
        }
    }

    @include mq(991px) {
        .body {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
    }
}