@use "../config/" as *;

.owl {

    &-prev,
    &-next {
        width: 55px;
        height: 55px;
        background-color: #363636 !important;

        span {
            font-size: 50px;
            line-height: 0.6;
        }
    }
}

.btn {
    padding: 10px 40px;
    background-color: $secondary;
    color: $white;
}