@use "../config/" as *;
$max-width: (
    576px,
    768px,
    992px,
    1200px,
    1400px
);
$container: (
    576px: 540px,
    768px: 720px,
    992px:960px,
    1200px: 1140px,
    1400px:1320px
);

.container {
    margin: auto;
}

@each $breakpoint, $con in $container {
    @include mq($breakpoint) {
        .container {
            max-width: $con;
        }
    }
}